@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        
        <small>Home</small>
    </h1>
    <ol class="breadcrumb">
      
    </ol>
</section>
<section class="content">
    <!-- Default box -->
  
</section><!-- /.content -->